.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav main main"
    "nav main main";
}

.navbar {
  grid-area: nav;
}

.content {
  grid-area: main;
}
