.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav content",
}

.navbar {
  grid-area: "nav";
}

.content {
  grid-area: "content";
}
